body {
    background-color: white;
    -webkit-user-select: none;
    user-select: none;
    user-zoom: unset;
}

::-webkit-scrollbar {
    width: 0;
}

.get {
    position: absolute;
    padding: 10px;
    height: 600px;
    width: 500px;
    box-sizing: border-box;
    background-color: #141414;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #181818;
    color: white;
    width: 97%;
    margin: auto;
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.heading .name,
.sid {
    cursor: pointer;
    padding: 0px 15px;
}

.ip {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.ip input,
button {
    padding: 20px 10px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

.ip input {
    width: 75%;
    border-radius: 8px 0px 0px 8px;
    color: black;
}

.ip button {
    width: 25%;
    background-color: #006400;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: white;
}

.ip button:hover {
    background-color: rgb(2, 68, 2);
}

.result {
    padding: 5px;
    color: white;
    width: 98%;
    height: 65%;
    box-sizing: border-box;
    margin: auto;
    display: none;
    overflow: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.result .head {
    position: fixed;
    background-color: #181818;
    width: 60px;
    padding: 1px 15px;
    text-align: center;
    border-radius: 10px;
}

#pars,
#respi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: smaller;
}

#pars {
    text-align: left;
}

#respi {
    text-align: right;
}

.thisresult {
    width: 99%;
    height: 300px;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    overflow: auto;
    padding: 10px;
    justify-content: space-between;
}

.copyright {
    width: 100%;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 0;
    text-align: center;
    color: lightgray;
    font-size: smaller;
}

.yourip {
    position: absolute;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
}

.yourip img {
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 15px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 600px) {
    .get {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: unset;
        border-radius: unset;
    }
    .thisresult {
        height: 520px;
        overflow: auto;
        overflow-y: scroll;
    }
    .result {
        top: 0;
        height: 70%;
    }
}
